In [3]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('fraudTest.csv')
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
# cheching the datatye of the data colmns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [13]:
#checking the null values in the data 
df.isnull().any()

Unnamed: 0               False
trans_date_trans_time    False
cc_num                   False
merchant                 False
category                 False
amt                      False
first                    False
last                     False
gender                   False
street                   False
city                     False
state                    False
zip                      False
lat                      False
long                     False
city_pop                 False
job                      False
dob                      False
trans_num                False
unix_time                False
merch_lat                False
merch_long               False
is_fraud                 False
dtype: bool

In [8]:
#check the duplicate values in the data 
df.duplicated().any()

False

In [9]:
#print the data to check 
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [10]:
#normalize the data by applyling minmaxscaler, it will convert the nemerical data to the float 
#from sklearn.preprocessing import MinMaxScaler 
numerical_features = df.select_dtypes(include=['int64','float64']).columns
scaler = MinMaxScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])
print(df.head())

   Unnamed: 0 trans_date_trans_time    cc_num  \
0    0.000000   2020-06-21 12:14:25  0.000459
1    0.000002   2020-06-21 12:14:33  0.000716
2    0.000004   2020-06-21 12:14:53  0.000721
3    0.000005   2020-06-21 12:15:15  0.000719
4    0.000007   2020-06-21 12:15:17  0.000706

                               merchant        category       amt   first  \
0                 fraud_Kirlin and Sons   personal_care  0.000082    Jeff
1                  fraud_Sporer-Keebler   personal_care  0.001267  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  0.001769  Ashley
3                     fraud_Haley Group        misc_pos  0.002594   Brian
4                 fraud_Johnston-Casper          travel  0.000096  Nathan

       last gender                       street  ...       lat      long  \
0   Elliott      M            351 Darlene Green  ...  0.305255  0.867121
1  Williams      F             3638 Marsh Union  ...  0.444423  0.565239
2     Lopez      F         9333 Valentine Point  ...  0.452136  0.942836
3  Williams      M  32941 Krystal Mill Apt. 552  ...  0.187080  0.868312
4    Massey      M     5783 Evan Roads Apt. 465  ...  0.530537  0.825355

   city_pop                     job         dob  \
0  0.114727     Mechanical engineer  1968-03-19
1  0.000096  Sales professional, IT  1990-01-17
2  0.011860       Librarian, public  1970-10-21
3  0.018834            Set designer  1987-07-25
4  0.000379      Furniture designer  1955-07-06

                          trans_num     unix_time merch_lat merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  0.000000e+00  0.313922   0.857112
1  324cc204407e99f51b0d6ca0055005e7  4.785402e-07  0.428589   0.568706
2  c81755dbbbea9d5c77f094348a7579be  1.674891e-06  0.450526   0.927355
3  2159175b9efe66dc301f149d3d5abf8c  2.990876e-06  0.205343   0.860298
4  57ff021bd3f328f8738bb535c302a31b  3.110511e-06  0.544191   0.810140

   is_fraud
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

[5 rows x 23 columns]

In [11]:
categorical_features = df.select_dtypes(include=['object']).columns
df = pd.get_dummies(df, columns=categorical_features)
print(df.head())

MemoryError: Unable to allocate 276. GiB for an array with shape (544760, 544760) and data type bool

In [12]:
#encoding categorical data into numerical 
from sklearn.preprocessing import LabelEncoder
categorical_features = df.select_dtypes(include=['object']).columns
#Label Encoding
label_encoders = {}
for col in categorical_features:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

# Print the dataframe with label encoded columns
print(df.head())

   Unnamed: 0  trans_date_trans_time    cc_num  merchant  category       amt  \
0    0.000000                      0  0.000459       319        10  0.000082
1    0.000002                      1  0.000716       591        10  0.001267
2    0.000004                      2  0.000721       611         5  0.001769
3    0.000005                      3  0.000719       222         9  0.002594
4    0.000007                      4  0.000706       292        13  0.000096

   first  last  gender  street  ...       lat      long  city_pop  job  dob  \
0    151   115       1     341  ...  0.305255  0.867121  0.114727  275  376
1    163   457       0     354  ...  0.444423  0.565239  0.000096  392  760
2     24   249       0     865  ...  0.452136  0.942836  0.011860  259  421
3     42   457       1     320  ...  0.187080  0.868312  0.018834  407  718
4    247   261       1     548  ...  0.530537  0.825355  0.000379  196  177

   trans_num     unix_time  merch_lat  merch_long  is_fraud
0      98699  0.000000e+00   0.313922    0.857112       0.0
1     108785  4.785402e-07   0.428589    0.568706       0.0
2     433979  1.674891e-06   0.450526    0.927355       0.0
3      71993  2.990876e-06   0.205343    0.860298       0.0
4     190585  3.110511e-06   0.544191    0.810140       0.0

[5 rows x 23 columns]

In [17]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0.000000,0,0.000459,319,10,0.000082,151,115,1,341,...,0.305255,0.867121,0.114727,275,376,98699,0.000000e+00,0.313922,0.857112,0.0
1,0.000002,1,0.000716,591,10,0.001267,163,457,0,354,...,0.444423,0.565239,0.000096,392,760,108785,4.785402e-07,0.428589,0.568706,0.0
2,0.000004,2,0.000721,611,5,0.001769,24,249,0,865,...,0.452136,0.942836,0.011860,259,421,433979,1.674891e-06,0.450526,0.927355,0.0
3,0.000005,3,0.000719,222,9,0.002594,42,457,1,320,...,0.187080,0.868312,0.018834,407,718,71993,2.990876e-06,0.205343,0.860298,0.0
4,0.000007,4,0.000706,292,13,0.000096,247,261,1,548,...,0.530537,0.825355,0.000379,196,177,190585,3.110511e-06,0.544191,0.810140,0.0